.hero
  display flex
  flex-direction column
  justify-content center
  align-items center
  
  height 65vh
  min-height 20rem
  background tomato
  padding 2rem
  color white
  
  &__title
    font-size 3rem
    font-weight 700
    line-height 1.4
    margin-bottom 1.75rem
    text-align center
    
  &__subtitle
    font-size 1.25rem
    text-align center