.nav
  position absolute
  top 0
  right 1rem
  display flex

  &__item
    padding 2rem 1rem

  &__link
    color white
    padding .25rem 0
    text-decoration none
    
    &.active
      border-bottom solid 2px

