extends partials/layout

append config
  - var current = 'about'

block main 
  //- hero section
  .hero
    h1.hero__title
      | This is the about page
    p.hero__subtitle
      | Each page has it's own Jade template + Webpack entry point.

  //- main section
  main.main
    h2 Well, I must say I agree!
    p 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur magni praesentium! Nihil iure mollitia doloribus ullam sed nobis vero quia est repellendus. Assumenda deserunt, totam aspernatur debitis nesciunt est!

    p 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur magni praesentium! Nihil iure mollitia doloribus ullam sed nobis vero quia est repellendus. Assumenda deserunt, totam aspernatur debitis nesciunt est!