extends partials/layout

append config
  - var current = 'index'

block main 
  
  //- hero section
  .hero
    h1.hero__title
      | Jade, Stylus, ES6 & Webpack.
    p.hero__subtitle
      | A modern front-end workflow to rapidly create multi-page websites.
  
  //- main section
  main.main
    h2 What a beautiful day!
    p 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur magni praesentium! Nihil iure mollitia doloribus ullam sed nobis vero quia est repellendus. Assumenda deserunt, totam aspernatur debitis nesciunt est!

    p 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur magni praesentium! Nihil iure mollitia doloribus ullam sed nobis vero quia est repellendus. Assumenda deserunt, totam aspernatur debitis nesciunt est!