block config
  - var current = 'main'
  - var pageTitle = 'Jade, Stylus, ES6 & Webpack.'

html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= pageTitle
    link(rel="stylesheet", href="./css/#{current}.css")
  body

    include nav

    block main
      // page content will come here.

    script(src='./js/#{current}.js')
    